In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df_Fake = pd.read_csv('Generated-data/generated_article.csv')
df_Real = pd.read_csv('../Datasets/HuggingFaceDataset/cc_news/sample_data.csv')

In [10]:
print(df_Fake.shape)
print(df_Real.shape)

(15678, 4)
(15600, 5)

In [25]:
df_Real.columns

Index(['index', 'title', 'text', 'label'], dtype='object')

In [21]:
df_Real = df_Real.drop(columns=['text'])
print(df_Fake.shape)
print(df_Real.shape)

(15678, 4)
(15600, 4)

In [24]:
df_Real.rename(columns = {'description':'text'}, inplace = True)

,index,title,text,label
0,0,Croat nationalists honor general convicted of ...,"BELGRADE, Serbia (AP) — Serbian nationalists o...",0
1,1,Welcome to Vegas: Billboards ask for tips on g...,in Las Vegas mass shootingLas Vegas gunman St...,0
2,2,Car Rolls Off Ferry in Australia,"In the early hours of Saturday morning, a Brit...",0
3,3,Costly cabinet travel prompts senators to ask ...,The federal government has spent more than $1 ...,0
4,4,Stranded ducklings reunited with their mother,after being separated for more than a year.Th...,0
...,...,...,...,...
15673,15673,Around the world,The world #39;s biggest news agency is announc...,0
15674,15674,Void is filled with Clement,"The void is filled with Clement Clement, the s...",0
15675,15675,Martinez leaves bitter,"The Spanish coach, who has been a key part of ...",0
15676,15676,5 of arthritis patients in Singapore take Bext...,SAN FRANCISCO (Reuters) - Five of the five pat...,0
15677,15677,EBay gets into rentals,EBay has entered into a deal with a rental com...,0

In [28]:
df_Fake['label'] = 0
df_Real['label'] = 1

In [29]:
print(df_Fake.shape)
print(df_Real.shape)

(15678, 4)
(15600, 4)

In [30]:
df_dataset = pd.merge(df_Fake,df_Real,how= 'outer')
df_dataset.shape

(31278, 4)

In [33]:
df_train, df_test = train_test_split(
  df_dataset,
  test_size=0.3,
  shuffle=True,
  random_state=42
)
df_val, df_test = train_test_split(
  df_test,
  test_size=0.5,
  shuffle=True,
  random_state=42
)
df_train.shape , df_val.shape, df_test.shape

((21894, 4), (4692, 4), (4692, 4))

In [34]:
df_train.to_csv('Dataset/train.csv', index=False)

In [35]:
df_val.to_csv('Dataset/val.csv', index=False)

In [36]:
df_test.to_csv('Dataset/test.csv', index=False)